#Remove this line before deploying


## Telegram
BOT_TOKEN = "1799576540:AAHs3dy52PtRziRCx_CQmJZLL4zF1ginz4o" # ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
OWNER_ID =1770010119
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API = 4343668
TELEGRAM_HASH = "5be00496f97e0fbe7f22ec1279a3a392"
AUTHORIZED_CHATS = "-1001195029281" #Separated by space

## Drive
GDRIVE_FOLDER_ID = "1Uwp31SCNBxMiFMu0iYj-s2HfswE94U-p"
IS_TEAM_DRIVE = "true"
INDEX_URL = "https://quanta.anupamluci981.workers.dev"
DOWNLOAD_DIR = "/app/downloads"
USE_SERVICE_ACCOUNTS = ""

## Optional config
UPTOBOX_TOKEN = ""

MEGA_API_KEY = "VU5WjAzC"  # Get this from https://mega.nz/sdk
MEGA_EMAIL_ID = "anupammaurya981@gmail.com"
MEGA_PASSWORD = "anupam@@@"
BLOCK_MEGA_LINKS = ""

STOP_DUPLICATE_MIRROR = ""

SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
